extends ../shared/template

block content
  h1 Artist Index

  #addArtist
    form(method='POST', action='/artists', enctype='multipart/form-data')
      input(type='text', autofocus=true, name='artistName', placeholder='Artist Name')
      input(type='file', name='photos')
      button Add Artist
  #showArtists
    each artist in artists
      .artist
        .artistName
          span
            a(href='/artists/#{artist._id}')= artist.name
        .deleteArtist
          form(action='/artists/#{artist._id}/delete', method='POST')
            button Delete #{artist.name}
        .artistPhoto
          span
            img(src='/img/#{artist.directory}/#{artist.photos}')
