extends ../shared/template

block content
  h1= title

  #showArtist
    h1= artist.name
    .artist
      .artistName
        span= artist.name
      .artistPhoto(style='background-image: url(/img/#{artist.directory}/#{artist.photos})')
      .deleteArtist
        form(action='/artists/#{artist._id}/delete', method='POST')
          button Delete
