extends ../shared/template

block content
  h1= title

  #showSong
    h1= song.name
    .song
      .songName
        span
          a(href='/songs/#{song._id}')= song.name
      .songGenre
        span Genre: #{song.genre}
      .songPhoto
        span
          audio(src='/audios/#{song.directory}/#{song.audio}', type='audio/mpeg', controls=true)
      .deletesong
        form(action='/songs/#{song._id}/delete', method='POST')
          button Delete
