extends ../shared/template

block content
  h1= title

  #showalbum
    h1= album.name
    .album
      .albumName
        span= album.name
      .albumPhoto(style='background-image: url(/img/#{album.directory}/#{album.photos})')
      .deletealbum
        form(action='/albums/#{album._id}/delete', method='POST')
          button Delete
